Repository ti-community-infra/tichi, pull requests merged in 2021-05, with the labels that each got.

#519 feat: add ExcludeLabels configuration for tars
  docs/en/plugins/tars.md
  docs/plugins/tars.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/tars/tars.go
  internal/pkg/externalplugins/tars/tars_test.go
Labels: dco-signoff: yes, release-note, size/L, status/LGT1, status/can-merge

#520 feat: support multiple calls per comment
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
Labels: dco-signoff: yes, release-note, size/L, status/LGT1, status/can-merge

#523 build: bump all ti plugins version
  .prow.yaml
  configs/prow-dev/cluster/ti-community-cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Labels: dco-signoff: yes, release-note-none, size/S, status/LGT1, status/can-merge

#526 build: bump all ti plugins version
  .prow.yaml
  configs/prow-dev/cluster/ti-community-cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Labels: dco-signoff: yes, release-note-none, size/S, status/LGT1, status/can-merge

#527 build: rename cherrypicker files
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_service.yaml
Labels: dco-signoff: yes, release-note-none, size/XS, status/LGT1, status/can-merge

#528 fix: tars wait a few seconds after receiving a comment
  internal/pkg/externalplugins/tars/tars.go
Labels: dco-signoff: yes, release-note, size/XS, status/LGT1, status/can-merge

#538 fix: more friendly reply for /lgtm and /merge by contributor without …
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  internal/pkg/externalplugins/merge/merge.go
Labels: contribution, dco-signoff: yes, ok-to-test, release-note-none, size/S, status/LGT1, status/can-merge

#540 feat: add include_reviewers for blunderbuss
  docs/en/plugins/blunderbuss.md
  docs/plugins/blunderbuss.md
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss_test.go
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
Labels: dco-signoff: yes, release-note, size/L, status/LGT1, status/can-merge

#541 build: Delete deprecated plank
  configs/prow-dev/cluster/plank_deployment.yaml
  configs/prow-dev/cluster/plank_rbac.yaml
  configs/prow-dev/cluster/plank_service.yaml
Labels: dco-signoff: yes, release-note-none, size/L, status/LGT1, status/can-merge

#542 build: bump all ti plugins version
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Labels: dco-signoff: yes, release-note-none, size/M, status/LGT1, status/can-merge

#544 fix: refine the broken components configurations
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
Labels: dco-signoff: yes, release-note-none, size/XS, status/LGT1, status/can-merge

#562 feat: count lgtm only for review approval
  cmd/ticommunitylgtm/main.go
  configs/prow-dev/config/external_plugins_config.yaml
  docs/README.md
  docs/en/README.md
  docs/en/plugins/lgtm.md
  docs/en/plugins/owners.md
  docs/en/workflows/pr.md
  docs/plugins/lgtm.md
  docs/plugins/owners.md
  docs/workflows/pr.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  internal/pkg/externalplugins/merge/merge.go
  internal/pkg/externalplugins/plugins_test.go
  test/testdata/config_combine.yaml
  test/testdata/config_test.yaml
  test/testdata/config_update.yaml
Labels: contribution, dco-signoff: yes, ok-to-test, size/XXL, status/LGT1, status/can-merge

#563 fix: tars stop pass the expectedHeadSha and use the default value
  .github/workflows/release.yml
  .goreleaser.yml
  .prow.yaml
  cmd/ticommunityautoresponder/main.go
  cmd/ticommunityblunderbuss/main.go
  cmd/ticommunitycherrypicker/main.go
  cmd/ticommunitycontribution/main.go
  cmd/ticommunitylabel/main.go
  cmd/ticommunitylabelblocker/main.go
  cmd/ticommunitylgtm/main.go
  cmd/ticommunitymerge/main.go
  cmd/ticommunityowners/main.go
  cmd/ticommunitytars/main.go
  go.mod
  go.sum
  internal/pkg/externalplugins/tars/tars.go
Labels: dco-signoff: yes, size/M, status/LGT1, status/can-merge

#564 fix: refine broken releaser
  .goreleaser.yml
Labels: dco-signoff: yes, size/XS, status/LGT1, status/can-merge

#565 build: bump all ti plugins version
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  configs/prow-dev/config/plugins.yaml
Labels: dco-signoff: yes, size/S, status/LGT1, status/can-merge

#568 build: bump all ti plugins version
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Labels: dco-signoff: yes, size/S, status/LGT1, status/can-merge
